* {
    background-color: khaki;

}

p {
    text-align: justify;
    text-align: left;
}

.color1 {
    color: darkred;
}

h1 {
    text-align: center;

}

.jiji33 {
    color: darkred;
    text-align: center;
    font-style: italic;
  
}

.escritores{
    text-align: center;
}